Root User zulassen/sperren
PermitRootLogin yes;no

wenn nein nur noch auth per key
PasswordAuthentication yes;no

changes the ssh default port
Port 558
Ports below 1024 need root previleges to connect
From now u need to specify the port to login

ssh zugriff für folgende user sperren
DenyUsers USERNAME
